.TextFieldcontainer input {
    height: 40px;
    padding: 0px 14px;
}

.TextFieldcontainer label {
    height: 36px;
    top: -9px;
}

.TextFieldcontainer label[data-shrink="true"] {
    top: 0;
}

/* .outlined-basic{
  height: 30px;
  font-size: 13px;
} */