<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sales Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <style>
        .line{
            margin: -5px;
            font-size: 12px;
        }
        .custom-row{
            display: flex;
        }
        p{
            font-size: 12px;
            margin: -2px;
        }
        .row{
            background-color: aquamarine;
        }
    </style>
</head>
<body>

<div class="container">
    <table style="width: 100%" border="1">
        <tr>
            <td style="width: 50%">
                <p th:each="line : ${companyAddress}" class="line" th:inline="text" th:text="${line}"></p>
            </td>
            <td style="width: 50%">
                <table style="width: 100%" border="1">
                    <tr>
                        <td style="width: 50%">
                            <p>Invoice No.</p>
                            <p>11</p>
                        </td>
                        <td style="width: 50%">
                            <p>Dated</p>
                            <p>05/07/2023</p>
                        </td>
                    </tr>
                </table>
                <table style="width: 100%" border="1">
                    <tr>
                        <td style="width: 50%">
                            <p>Delivery Note</p>
                            <p>Mode Term Of Payment</p>
                        </td>
                        <td style="width: 50%">
                            <p>Supplier-Ref</p>
                            <p>Other Reference(s)</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<!--<div class="container">-->
<!--    <div class="custom-row" style="display: flex">-->
<!--        <div class="col-md-6">-->
<!--            <p th:each="line : ${companyAddress}" class="line" th:inline="text" th:text="${line}"></p>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <div class="row">-->
<!--                <div class="col-6">-->
<!--                    <p>Invoice No.</p>-->
<!--                    <p>11</p>-->
<!--                </div>-->
<!--                <div class="col-6">-->
<!--                    <p>Dated</p>-->
<!--                    <p>05/07/2023</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-6">-->
<!--                    <p>Delivery Note</p>-->
<!--                </div>-->
<!--                <div class="col-6">-->
<!--                    <p>Mode Term Of Payment</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-6">-->
<!--                    <p>Supplier-Ref</p>-->
<!--                </div>-->
<!--                <div class="col-6">-->
<!--                    <p>Other Reference(s)</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container">
    <table class="table">
        <tr>
            <th>Product Name</th>
            <th>Quantity Sold</th>
            <th>Total Sales</th>
        </tr>
        <tr th:each="item : ${salesItems}">
            <td th:text="${item.productName}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.price}"></td>
        </tr>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
