// Here you can add other styles

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"),
  url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans";
  src: local("NunitoSans_7pt-Regular"),
  url("../fonts/Nunito_Sans/NunitoSans_7pt-Regular.ttf") format("truetype");
}
